@font-face {
  font-family: "Angies";
  src: url("Angies New House.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.ttf");
  font-weight: 400;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	font-family: "Poppins";
	background-color: #EEE;
	color: #111;
}


h1, h2, h3 {
	color: #000;
	font-family: "Angies";
	-webkit-text-stroke: 2px #EEE;
}

h1 { font-size: 5rem; }

h2 { font-size: 4rem;}

h3 { font-size: 3rem;}


.logo {
	font-family: "Angies";
	font-size: 3rem;
	padding: 20px;
}

nav {
	display: flex;
	flex-direction: column;
}

.links-list {
	font-weight: bolder;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.links-list a {
	color: #111;
	text-decoration: none;
	font-size: 2rem;
}

/*--------------- HERO ---------------*/

.hero {
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	grid-gap: 30px;
	align-items: center;
}

.hero h1 {
	color: #000;
	-webkit-text-stroke: 3px #EEE;
}

.hero img {
	background: #707;
	border-radius: 50%;
	max-width: 60%;
}

/*--------------- ABOUT ---------------*/

.about {
	padding: 20px;
	margin: 150px 20px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 30px;
}

.about p {
	padding: 20px;
	font-size: 1.2rem;
}

/*--------------- PROJECTS ---------------*/

.project {
	margin: 50px 20px;
	position: relative;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project h2 {
	padding: 20px;
	text-align: center;
}

.project p {
	padding: 0 20px;
	padding-bottom: 20px;
	font-size: 1.2rem;
	line-height: 1.5rem;
}

.project > img {
	display: block;
	margin: 20px auto;
	width: 85%;
	border: 5px solid #000;
}

.button {
	background-color: #A0A;
	color: #FFF;
	text-decoration: none;
	font-family: monospace;
	font-size: 1.2rem;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10px;
	margin: 20px 20px;
}

.icons {
	display: none;
}

.contact {
}

/*--------------- FOOTER ---------------*/

footer {
	height: 200px;
	display: flex;
	flex-direction: column;
}


/*--------------- M-E-D-I-A Q-U-E-R-I-E-S ---------------*/

@media only screen and (min-width: 961px) {

	.container{
		margin: 0 auto;
		max-width: 1200px;
	}

	nav {
		flex-direction: row;
		justify-content: space-between;
	}

	.links-list {
		flex-direction: row;
	}
	
	.links-list a {
		font-size: 1.2rem;
	}
	
	.hero {
		flex-direction: row;
		justify-content: center;
	}
	
	.hero img {
		max-width: 500px;
	}
	
	.about {
		margin: 200px auto;
		flex-direction: row;
		align-items: flex-start;
		max-width: 800px;
		
		animation: fade-grow linear both;
		animation-timeline: view();
		animation-range: entry 50% cover 50%;
	}
	
	.about p {
		padding: 20px;
	}
	

	.project {
		display: flex;
		flex-direction: row;
		margin: 70px 0;
		animation: fade-from-left linear both;
		animation-timeline: view();
		animation-range: entry 50% cover 50%;
		
		margin-bottom: 150px;
	}
	
	.project img {
		margin-right: 20px;
	}
	
	.icons {
		display: inline;
		position: absolute;
		right: 0;
		top: 20px;
	}

	.icons > img {
		border-radius: 50%;
		background-color: #000;
	}
	
}

/*--------------- CONTACT ---------------*/

.form-row {	
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.form-row label {
	font-weight: bold;
}

input, textarea{
	line-height: 2rem;
	font-size: 1.2rem;
	border: 3px solid black;
}

input[type=submit] {
	background-color: #A0A;
	color: #FFF;
	text-decoration: none;
	font-family: monospace;
	font-size: 1.2rem;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 10px;
	border: 0px solid #000;
	margin: 20px 20px;
}


/*------------- A-N-I-M-A-T-I-O-N --------------*/
@keyframes fade-from-left {
	from {
		opacity: 0;
		transform: translate(-200px, 0);
	}
	to {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes fade-grow {
	from {
		opacity: 0;
		transform: scale(0);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}


/*--------------- PIZZA ---------------*/

footer {
	display:flex;
	justify-content: center;
	align-items: center;
}

footer img {
	animation-name: pizza;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 8s;
	width: 150px;
}

@keyframes pizza {
      0% { transform: translate(0px, 40px); }
    50%  { transform: translate(0px, 0px);; }
    100% { transform: translate(0px, 40px);; }
}
